<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://192.168.2.154:80</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.2.154:80</MSDeployServiceURL>
    <DeployIisAppPath>TeknikServis</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>Win8</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TeknikServis.Models.ApplicationDbContext, TeknikServis" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TeknikServis.Radius.radiusEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TeknikServis.Radius.radiusEntities, TeknikServis.Radius" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TOLBILISIM" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_tol;convertzerodatetime=True;allowzerodatetime=True;characterset=utf8&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TOLBILISIM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_tol;convertzerodatetime=True;allowzerodatetime=True;characterset=utf8&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BILGITAP" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_bilgitap;convertzerodatetime=True;allowzerodatetime=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BILGITAP_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_bilgitap;convertzerodatetime=True;allowzerodatetime=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DURU" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_duru;convertzerodatetime=True;allowzerodatetime=True;characterset=utf8&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DURU_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_duru;convertzerodatetime=True;allowzerodatetime=True;characterset=utf8&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="TOL" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_tol;characterset=utf8;convertzerodatetime=True;allowzerodatetime=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\TOL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/radiusModel.csdl|res://*/radiusModel.ssdl|res://*/radiusModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;port=3306;server=localhost;user id=root;password=t0m122;persistsecurityinfo=True;database=radius_tol;Charset=utf8;convertzerodatetime=True;allowzerodatetime=True&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BILGITAP-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DURU-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TeknikServis.Radius.radiusEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TOL-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TOLBILISIM-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="TeknikServis.Radius.radiusEntities" />
  </ItemGroup>
</Project>